$gr-start: hsla(0, 0%, 0%, 0);
$gr-stop1: hsla(0, 0%, 0%, 0.9);
$gr-stop2: hsla(0, 0%, 0%, 0.9);

$rgb-gr-stop1: rgba(0, 0, 0, 0.75);
$rgb-gr-stop2: rgba(0, 0, 0, 0.85);

// For some reason Bourbon's background-image mixin does not seem to output a
// linear gradient compatible with Firefox, so this has to be done manually.
// In addition, the image_path function follows a ruby naming convention since
// it comes from Sprockets; ignore the name rule for this case.
// scss-lint:disable VendorPrefix
// scss-lint:disable NameFormat
.cover {
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-end);
  background-color: $blue;
  background: linear-gradient($blue, $blue, $light-orange);
  height: 100vh;
  z-index: $base-z-index;
}

.cover-inner {
  color: #fff;
  padding: 2em 0.5em;
  background-position: center 45%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100%;

  @include media($medium-screen-up) {
    padding: 4em 2em;
  }

  @include media($large-screen-up) {
  }

  h2 {
    margin-top: 0;
  }

}
// scss-lint:enable VendorPrefix
// scss-lint:enable NameFormat


.cover-title {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 4em;
  @include media($small-screen) {
    font-size: 3.3em;
  }
  font-weight: 200;
  letter-spacing: 1%;
  margin-bottom: $small-spacing * .25;
  margin-top: 3rem;
  .diminutive {
    text-transform: none;
    font-size: 1rem;
    font-weight: 300;
    height: 0;
    margin-top: -.75em;
    margin-bottom: -.75em;
    display: block;
  }
  .diminutive:before {
    content: '— '
  }
  .diminutive:after {
    content: ' —'
  }

  @include media($portrait) {
    margin-top: 9rem;
  }

  @include media($medium-screen-up) {
    font-size: 5em;
    .diminutive {
      font-size: 1.5rem;
    }
  }

  @include media($large-screen-up) {
    font-size: 6em;
    .diminutive {
      font-size:2rem;
    }
  }
}

.cover-subtitle {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  font-weight: 300;

  @include media($medium-screen-up) {
    font-size: 1.5em;
  }

  @include media($large-screen-up) {
    font-size: 2em;
  }
}

.cover-author {
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto;
  max-width: 30em;

  @include media($medium-screen-up) {
    font-size: 1.5em;
    margin: 1em auto;
  }
}

.cover-copy {
  @extend .body-copy;
  @extend .container;
  margin-bottom: 5em;
  margin-top: 3em;
  h3 {
    text-align: center;
    margin-bottom: $small-spacing * .25;
  }
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }
}

.cover-copy-inner {
  padding: 0 $base-spacing;
  @include media($large-screen-up) {
    padding: 0 ($base-spacing * 2.5);
  }
  @include media($small-screen) {
    padding: 0;
  }
}

.cover-colophon {
  font-family: $heading-font-family;
  font-weight: 400;
  color: $beige;
  a {
    color: $beige;
    text-decoration: underline;
  }
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.cover-colophon-inner {
  height: $navbar-height * 1.5;
  margin-bottom: $base-spacing;
}

.colophon-text {
  float: left;
  margin-left: $base-spacing;
  p { margin-bottom: 0; }
  max-width: 460px;
  @include media($small-screen) {
    float: none;
    text-align: center;
    margin-left: $small-spacing;
    margin-right: $small-spacing;
    line-height: 1.7em;
  }
}

.colophon-logo {
  padding-top: $base-spacing;
  width: $navbar-height;
  opacity: .7;
  float: right;
  margin: .5em $base-spacing 0;
  padding-top: 0;
  @include media($small-screen) {
    float: none;
    text-align: center;
    margin: $small-spacing auto $base-spacing;
  }
}
