$gr-start: hsla(0, 0%, 0%, 0);
$gr-stop1: hsla(0, 0%, 0%, 0.9);
$gr-stop2: hsla(0, 0%, 0%, 0.9);

$rgb-gr-stop1: rgba(0, 0, 0, 0.75);
$rgb-gr-stop2: rgba(0, 0, 0, 0.85);

// For some reason Bourbon's background-image mixin does not seem to output a
// linear gradient compatible with Firefox, so this has to be done manually.
// In addition, the image_path function follows a ruby naming convention since
// it comes from Sprockets; ignore the name rule for this case.
// scss-lint:disable VendorPrefix
// scss-lint:disable NameFormat
.cover {
  @include display(flex);
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(flex-end);
  background-color: $blue;
  background: linear-gradient($blue, $blue, $light-orange);
  height: 100vh;
  z-index: $base-z-index;
}

.cover-inner {
  color: #fff;
  padding: 2em 0.5em;
  background-position: center 45%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  width: 100%;
  h2 {
    margin-top: 0;
  }
}

// scss-lint:enable VendorPrefix
// scss-lint:enable NameFormat

.cover-title {
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  line-height: 1.1em;
  font-size: 11vh;
  margin-top: 12vh;
  @include media($large-screen-up) {
    font-size: 13vh;
    margin-top: 9vh;
  }
  @include media($phone-screen) {
    font-size: 9.1vh;
    margin-top: 15vh;
  }
  font-weight: 200;
  letter-spacing: 1%;
  margin-bottom: $small-spacing * .25;
  .diminutive {
    text-transform: none;
    font-weight: 300;
    height: 0;
    margin-top: -3vh;
    margin-bottom: -3vh;
    display: block;
  }
  .diminutive:before {
    content: '— '
  }
  .diminutive:after {
    content: ' —'
  }
}

.cover-title .diminutive,
.cover-icon,
.cover-subtitle {
  font-size: 3.4vh;
  @include media($large-screen-up) {
    font-size: 4vh;
  }
  @include media($phone-screen) {
    font-size: 2.8vh;
  }
}

.cover-subtitle {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  padding-left: $small-spacing;
  padding-right: $small-spacing;
}

.cover-author {
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto;
  max-width: 30em;
}

.cover-copy {
  @extend .body-copy;
  @extend .container;
  margin-bottom: 5em;
  margin-top: 3em;
  h3 {
    text-align: center;
    margin-bottom: $small-spacing * .25;
  }
  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }
}

.cover-copy-inner {
  padding: 0 $base-spacing;
  @include media($large-screen-up) {
    padding: 0 ($base-spacing * 2.5);
  }
  @include media($small-screen) {
    padding: 0;
  }
}

.cover-colophon {
  font-family: $heading-font-family;
  font-weight: 600;
  color: $beige;
  a {
    font-weight: 600;
    color: $beige;
    text-decoration: underline;
    &:active,
    &:focus,
    &:hover {
      color: darken($beige, 10%);
    }
  }
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.cover-colophon-inner {
  height: $navbar-height * 2;
  margin-bottom: $base-spacing;
}

.colophon-text {
  float: left;
  margin-left: $base-spacing;
  p { margin-bottom: $small-spacing * .5; }
  max-width: 520px;
  @include media($small-screen) {
    float: none;
    text-align: center;
    margin-left: $small-spacing;
    margin-right: $small-spacing;
    line-height: 1.7em;
  }
}

.colophon-logo {
  padding-top: $base-spacing;
  width: $navbar-height;
  opacity: .7;
  float: right;
  margin: .5em $base-spacing 0;
  padding-top: 0;
  @include media($small-screen) {
    float: none;
    text-align: center;
    margin: $small-spacing auto $base-spacing;
  }
  svg path {
    transition: fill .25s ease-in-out;
    fill: $beige;
  }
  &:active,
  &:focus,
  &:hover {
    svg path {
      fill: darken($beige, 10%);
    }
  }
}
