// Mixins

@mixin link-color ($base-color) {
  a {
    color: $base-color;

    &:active,
    &:focus,
    &:hover {
      color: transparentize($base-color, 0.65);
    }
  }
}

// scss-lint:disable SingleLinePerSelector

html { min-height: 100vh; }

// Body Copy baseline styles
// -----------------------------------------------------------------------------
.body-copy {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: -0.5px;
    margion-bottom: 1rem;
    margin-top: 1em;
  }

  p, ol, ul {font-size: $base-font-size * 1.25;}
  ol { @extend %default-ol; }
  ul { @extend %default-ul; }

  blockquote {
    margin: $base-spacing;
    p { margin-bottom: 0; }
  }

  @include media($medium-screen-up) {
    p, ol, ul { font-size: $base-font-size * 1.4; }
  }

  @include media($large-screen-up) {
    p, ol, ul { font-size: $base-font-size * 1.6; }
  }
}

.container {
  @include display(flex);
  @include justify-content(center);
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 $small-spacing;

  @include media($large-screen-up) { padding: 0; }
}

.footnotes {
  border-top: $base-border;
  margin-top: $base-spacing;
  padding-top: $small-spacing;
  text-align: center;

  &::before {
    content: "Notes";
    font-family: "Freight Text Pro SC";
    font-size: 1.35em;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  ol { margin-top: $small-spacing; }

  p, ol, ul {
    font-size: 1rem;
    text-align: left;
  }
}

// scss-lint:enable SingleLinePerSelector

// Utility Classes
// -----------------------------------------------------------------------------
.ctr {
  text-align: center;
}

.smcaps {
  @include font-feature-settings("c2sc", "smcp", "kern");
  font-variant: all-small-caps;
}

.mobile-hide {
  @include media($small-screen) { display: none; }
}

.force-wrap {
  @include prefixer(hyphens, auto, webkit moz ms spec);
  overflow-wrap: break-word;
  // word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}
