.grid-trigger { display: block; }
.grid--hidden { display: none; }

.grid-cover {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-end);

  background-position: center center;
  background-size: cover;
  height: 102px;
  margin-bottom: $base-spacing;
  margin-top: $navbar-height;
  padding: $small-spacing;

  @include media($medium-screen-up) { height: 202px; }
  @include media($large-screen-up) { height: 224px; }

  .page-title {
    color: $medium-gray;
  }

}

.grid-nav {
  border-top: 2px $light-gray solid;
  padding-top: $base-spacing;
}

.grid-trigger {
  width: 30.33%;
  height: 35vh;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: $base-spacing;
  background-position: center center;
  float: left;
  padding: $small-spacing;
  h3, h4 {
    color: #fff;
  }
}

.grid-trigger:hover {
  h3 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
  }
}

.grid-closer {
  float: right;
  color: $light-gray;
  font-size: $base-font-size * 1.75;
  margin-left: $base-spacing;
}

.grid-content {
  margin-top: $base-spacing;
}

$grid-color-1: #FE938C;
$grid-color-2: #399E5A;
$grid-color-3: #6EF9F5;
$grid-color-4: #26532B;
$grid-color-5: #63E2C6;
$grid-color-6: #FF6F59;
$grid-color-7: #5ABCB9;
$grid-color-8: #F6BD60;
$grid-color-9: #254441;

#trigger-1 {
  background-color: $grid-color-1;
}
#trigger-1-content h2 {
  color: $grid-color-1;
}

#trigger-2 {
  background-color: $grid-color-2;
}
#trigger-2-content h2 {
  color: $grid-color-2;
}

#trigger-3 {
  background-color: $grid-color-3;
}
#trigger-3-content h2 {
  color: $grid-color-3;
}

#trigger-4 {
  background-color: $grid-color-4;
}
#trigger-4-content h2 {
  color: $grid-color-4;
}

#trigger-5 {
  background-color: $grid-color-5;
}
#trigger-5-content h2 {
  color: $grid-color-5;
}

#trigger-6 {
  background-color: $grid-color-6;
}
#trigger-6-content h2 {
  color: $grid-color-6;
}

#trigger-7 {
  background-color: $grid-color-7;
}
#trigger-7-content h2 {
  color: $grid-color-7;
}

#trigger-8 {
  background-color: $grid-color-8;
}
#trigger-8-content h2 {
  color: $grid-color-8;
}

#trigger-9 {
  background-color: $grid-color-9;
}
#trigger-9-content h2 {
  color: $grid-color-9;
}


@-webkit-keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -360deg);
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
}
