.grid-background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-toc {
  display: none;
}

.grid-trigger { display: block; }
.grid--hidden { display: none; }

.grid-cover {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  background-position: center center;
  background-size: cover;

  height: 280px;
  margin-top: $navbar-height;
  padding: $small-spacing;

  .page-title {
    color: $dark-blue;
  }

  .header-reset {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: $heading-font-family;
    font-weight: 600;
    text-transform: uppercase;
    color: $medium-gray;
    span {
      margin-left: 2px;
    }
    @include media($small-screen) {
      margin-top: .5em;
    }
  }
  .header-reset:hover {
    color: $dark-gray;
  }

}

.grid-nav {
  height: 57em;
  background-color: $action-color;
  #trigger-3, #trigger-6, #trigger-9 {
    margin-right: 0px;
    float: right;
  }
  @include media($large-screen-up) {
    height: 66em;
  }
  @include media($small-screen) {
    background-color: transparent;
    height: auto;
  }
}

.grid-trigger {
  display: block;
  cursor: pointer;
  background-color: #fff;
  width: 33.26%;
  height: 19em;
  margin-right: .11%;
  margin-bottom: 1px;
  @include media($large-screen-up) {
    height: 22em;
  }
  @include media($small-screen) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: auto;
    border-bottom: 1px solid $action-color;
  }
  background-position: center top;
  float: left;
  padding: ($small-spacing * 2) ($small-spacing * .5);
  h3, h4 {
    color: $dark-blue;
  }
  h4 {
    font-family: "Titillium Web";
    font-weight: 700;
    text-align: center;
    margin-bottom: $small-spacing * .25;
  }
  h3 {
    margin-top: 0;
    font-family: "Titillium Web";
    font-weight: 300;
    font-size: 2em;
    @include media($large-screen-up) {
      font-size: 2.35em;
    }
    text-transform: uppercase;
    text-align: center;
    .diminutive {
      text-transform: none;
      font-size: .7em;
      font-weight: 400;
      display: block;
    }
    .diminutive:before {
      content: '— '
    }
    .diminutive:after {
      content: ' —'
    }
    .underline {
      display: inline-block;
      position: relative;
    }
    .underline:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 2px solid;
      margin-top: .35em;
    }
  }
}



.trigger-effect {
  color: $action-color;
  display: none;
  margin: 0 auto;
  text-align: center;
}

// .grid-trigger:hover {
//   .trigger-effect {
//     display: block;
//   }
// }

.image-trigger {
  cursor: pointer;
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  position: relative;
  width: calc(33% - .5em);
  height: 19em;
  margin-right: .25em;
  margin-left: .25em;
  margin-bottom: .5em;
  @include media($large-screen-up) {
    width: calc(33% - 1em);
    height: 22em;
    margin-right: .5em;
    margin-left: .5em;
    margin-bottom: 1em;
  }
  @include media($small-screen) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }
  border-right: 0px solid #fff;
  border-bottom: 0px solid #fff;
  z-index: 0;
  h2 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 2em;
    margin: 0;
    @include media($large-screen-up) {
      font-size: 2.35em;
    }
  }
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-gray;
  opacity: .2;
  content: "";
  z-index: -1;
}

.grid-trigger:hover {
  h3 {
    font-weight: 400;
    .diminutive {
      font-weight: 600;
    }
  }
  .grid-overlay {
    opacity: .3;
  }
}


.grid-main-column {
  width: 100%;
  max-width: 1080px;
}

.grid-content {
  width: 100%;
  max-width: 800px;
  margin-top: $small-spacing * .5;
  margin-bottom: $base-spacing * 2;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: $base-border-radius;
  .grid-reset {
    cursor: pointer;
    float: right;
    color: $medium-gray;
    font-size: $base-font-size * 1.75;
    margin-left: $base-spacing;
    @include media($phone-screen) {
      line-height: 0;
    }
    font-family: "Titillium Web";
    font-weight: 700;
  }
  .grid-reset:hover {
    color: $dark-gray;
  }
}

.grid-content {
  .cover-image {
    float: left;
    width: 40%;
    margin-right: $base-spacing;
    @include media($phone-screen) {
      float: none;
      width: 80%;
      margin-right: 0;
    }
    figcaption {
      padding-top: 0;
    }
    figcaption .icon {
      margin-left: 4px;
      font-family: $ionicons-font-family;
    }
  }
  @include media($phone-screen) {
    .cover-image + h5 {
      margin-top: $small-spacing;
    }
  }

  h3 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: $small-spacing * .15;
  }
  h4 a {
    font-weight: 700;
  }
  h5 {
    color: $medium-gray;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: $small-spacing * .15;
  }
}

.grid-content h2:first-of-type {
  margin-top: 0;
}
