$navbar-bg-color: $blue;
$navbar-text-color: #fff;
$navbar-height: 60px;
$navbar-icon-size: 28px;
$navbar-z-index: 9999;

.navbar {
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  @include link-color($navbar-text-color);

  background-color: $navbar-bg-color;
  color: $navbar-text-color;
  font-family: $heading-font-family;
  font-weight: normal;
  height: $navbar-height;
  line-height: $navbar-height;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $navbar-z-index;

  .logo {
    padding: 0;
    margin: $navbar-height * .25;
    height: $navbar-height * .5;
    transition: opacity .25s ease-in-out;
    opacity: 0.7;
    path {
      fill: #fff;
    }
    &:active,
    &:focus,
    &:hover {
      opacity: 0.3;
    }
  }

  .page-reset:hover,
  .grid-reset:hover {
    color: transparentize($navbar-text-color, 0.65);
    cursor: pointer;
  }

}

// Top-level units
.navbar-left,
.navbar-right {
  @include flex(3);
}

.navbar-right {
  text-align: right;
}

.navbar-left {
  margin: 0 ($navbar-height * .25);
}

.navbar-center {
  @include display(flex);
  @include flex(1 0 auto);
  @include justify-content(center);
  text-align: center;
}

// Inside center unit
.navbar-center-info {
  margin: 0 $base-spacing;
  text-align: center;
}

.navbar-next-link,
.navbar-prev-link {
  @extend .mobile-hide;
  font-size: $navbar-icon-size * 0.75;
}

.navbar-prev-link {
  @extend .ion-chevron-left;
}

.navbar-next-link {
  @extend .ion-chevron-right;
}

// Inside navbar-center-info
.navbar-breadcrumb {
  @extend .ion-android-arrow-dropright;
  @extend .mobile-hide;
  margin: 0 $small-spacing;
}

.navbar-page-title {
  @extend .mobile-hide;
}

// Inside left unit
.navbar-search-icon {
  @extend .ion-search;
  font-size: $navbar-icon-size;
}

// Inside right unit
.navbar-menu-icon {
  @extend .ion-navicon;
  font-size: $navbar-icon-size * 1.5;
}
