// Global page styles
// -----------------------------------------------------------------------------
$navbar-height: 60px;

// Page Header
// -----------------------------------------------------------------------------
.page-cover {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  height: 280px;
  margin-top: $navbar-height;
  padding: $small-spacing;

}

.page-title,
.page-author {
  text-align: center;
  color: $dark-blue;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 4.5em;
  font-weight: 200;
  margin-bottom: 0;
  @include media($small-screen) {
    font-size: 3.3em;
    line-height: 1.1em;
  }
}

.page-author {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0.25rem;
}

// Page Content
// -----------------------------------------------------------------------------
.page-main-column {
  width: 100%;
  padding: 0 calc( (100% - 800px) * .5 );
  @include media($small-screen) {
    padding: 0;
  }
}

.page-content {
  @extend .container;
  margin-bottom: 8em;
}

.page-content {
  @extend .body-copy;
}

.page-content {
  // blockquote:first-of-type,
  h3:first-of-type {
    margin-top: 0px;
  }
}


.section-nav {
  background-color: $light-gray;
  border-left: solid 2px $action-color;
  font-size: 0.85em;
  margin-top: $small-spacing / 2;
  padding: ($small-spacing / 2);
  padding-left: $small-spacing;

  li {
    margin-bottom: ($small-spacing * 0.75);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.page-content h2 {
  text-transform: uppercase;
  font-weight: 300;
  color: $dark-blue;
}

.page-content .lowercase {
  text-transform: lowercase;
}


.page-content h3 {
  margin-top: $small-spacing;
  margin-bottom: $small-spacing * .25
}

// .page-content blockquote {
//   @include display(flex);
//   @include flex-direction(column);
//   @include justify-content(center);
// }

.page-content blockquote {
  color: shade($action-color, 10%);
  margin-left: 0;
  margin-right: 0;
}

.page-content .attribution {
  font-family: $heading-font-family;
  line-height: 1.5em;
  text-align: right;
  width: 65%;
  margin-left: 30%;
  @include media($phone-screen) {
    width: 85%;
    margin-left: 10%;
  }
  margin-right: 5%;
  margin-top: .2em;
  min-width: 140px;
}

.page-content ul {
  list-style-type: none;
  margin-left: .4em;
  padding-left: 1em;
  text-indent: -1em;
  li {
    margin-bottom: $small-spacing * .1;
  }
  li:before {
    content: "â—";
    color: $medium-gray;
    margin-right: .4em;
  }
}

.page-content .link-list {
  color: $action-color;
  li:active,
  li:focus,
  li:hover {
    color: shade($action-color, 25%);
  }
}

.page-content h4 {
  margin-bottom: 1em;
  color: $medium-gray;
}

.cover-copy .pull-quote,
.page-content .pull-quote {
  color: $dark-gray;
  margin-left: $small-spacing;
  background-color: inherit;
  border-radius: 0px;
  padding: 0;

  float: right;
  width: 37%;
  @include media($phone-screen) {
    width: 94%;
    float: none;
    margin-left: 3%;
    margin-right: 3%;
  }
  text-align: center;
  position: relative;
  font-family: $heading-font-family;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  margin-top: $small-spacing * .5;
  padding-top: $small-spacing * .25;
  h3 {
    margin-top: $small-spacing * .25;
    margin-bottom: $small-spacing * .25;
    color: $orange;
    line-height: 1.5em;
  }
  ul {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: $heading-font-family;
    margin-bottom: $small-spacing;
    margin-left: 0;
    text-indent: 0;
    color: $dark-gray;
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: $small-spacing * .5;
    }
    li:before {
      content: "";
      margin-right: 0;
    }
  }
  .attribution {
    font-size: 1em;
    text-align: center;
    line-height: inherit;
    width: 100%;
    margin: ($small-spacing * .5) 0 ($small-spacing * .5);
  }
  .attribution:before {
    content: "";
  }
  .video {
    cursor: pointer;
    width: 90%;
    padding-bottom: 50.625%;
  	position: relative;
    margin: ($small-spacing * .5) auto 0;
    background-color: $medium-gray;
  }
  .video-closer {
    width: 8%;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 1.5em;
    line-height: 1.8em;
    color: $dark-orange;
    opacity: 0;
  }
  .video > iframe {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .video > img {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.cover-copy .pull-quote {
  border-bottom: none;
}

.cover-copy .pull-quote.full-width,
.page-content .pull-quote.full-width {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.download {
  float: right;
  margin: 0 $small-spacing;
  min-width: 37%;
  text-align: center;
  @include media($phone-screen) {
    width: 94%;
    float: none;
    margin-left: 3%;
    margin-right: 3%;
    margin: $small-spacing;
  }
}

.download::before {
  margin-right: $small-spacing * .25;
}

.award {
  font-style: italic;
  margin-left: $base-spacing;
  em {
    font-style: normal;
  }
}

.award:before {
  margin-left: -$base-spacing * .5;
  margin-right: $base-spacing * .25;
  color: #FFDD00;
  font-size: 2em;
  height: 0;
  vertical-align: text-top;
}

#skim-swim-dive {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  #submarine {
    position: absolute;
    width: 30%;
    top: 10%;
    display: block;
    margin-left: 60%;
  }
  #spotlight {
    position: absolute;
    width: 21%;
    top: 10%;
    opacity: 0;
    display: block;
    margin-left: 40%;
  }
  .depth-headings {
    position: absolute;
    color: #fff;
    width: 50%;
    height: 100%;
    top: 0;
    left: 5%;
    h2 {
      margin: 0;
      color: #fff;
      line-height: 1;
      text-transform: none;
      font-weight: 700;
      font-size: 3em;
    }
    p {
      font-size: $base-font-size * 1.4;
      font-family: $heading-font-family;
      line-height: 1.3em;
      font-weight: 400;
    }
  }
  #skim {
    position: absolute;
    top: 25%;
  }
  #swim {
    position: absolute;
    top: 50%;
  }
  #dive {
    position: absolute;
    top: 75%;
  }
}

#skim-swim-dive+figcaption {
  max-width: 600px;
  margin: 0 auto;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: $base-font-size * 1.1;
  font-family: $heading-font-family;
  color: $dark-orange;
  clear: both;
  padding-top: $small-spacing * .25;
  line-height: 1.5em;
  font-weight: 400;
  a {
    color: $dark-orange;
    font-weight: 600;
  }
  a:active, a:focus, a:hover {
    color: #c2542e;
  }
}

.cover-image figcaption {
  a {
    color: $action-color;
    font-weight: 400;
  }
  a:active, a:focus, a:hover {
    color: shade($action-color, 25%);
  }
}


figcaption ~ img {
  margin-top: $small-spacing * .5;
}

figcaption.float {
  clear: none;
}

.inline-figure,
.figure-gallery {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: $small-spacing * 1.5;
  display: inline-block;
}

.figure-gallery img {
  width: 30%;
  float: left;
  margin: 0 3% 0 0;
  padding: 0;
}

.figure-outline {
  img {
    border: 1px solid $dark-gray;
  }
}

.figure-push {
  margin-top: $small-spacing;
}

.float-figure {
  width: 37%;
  float: right;
  margin-left: 3%;
  margin-bottom: $small-spacing;
  clear: both;
  @include media($phone-screen) {
    width: 94%;
    float: none;
    margin-left: 3%;
    margin-right: 3%;
  }
}

.ref-number {
  background-color: $orange;
  color: #fff;
  border-radius: .6em;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  line-height: .6em;
  // font-weight: 600;
  text-align: center;
  font-size: 90%;
  padding: .25em;
  vertical-align: super;
}


.user-stat-heading {
  text-align: center;
  color: $dark-orange;
  text-transform: uppercase;
  font-family: $heading-font-family;
  font-weight: 400;
  line-height: 1.3em;
  p {
    margin-bottom: 0;
  }
}

.user-stat {
  width: 27%;
  float: left;
  margin: 0 3%;
  text-align: center;
  color: $dark-orange;
  h4 {
    font-size: 5em;
    color: $dark-orange;
    margin-bottom: 0;
  }
  p {
    text-transform: uppercase;
    font-family: $heading-font-family;
    font-weight: 400;
    line-height: 1.3em;
  }
}
