// Global page styles
// -----------------------------------------------------------------------------
$navbar-height: 60px;

// Page Header
// -----------------------------------------------------------------------------
.page-cover {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  height: 280px;
  margin-top: $navbar-height;
  padding: $small-spacing;

  // @include media($medium-screen-up) { height: 300px; }
  // @include media($large-screen-up) { height: 300px; }

}

.page-title,
.page-author {
  text-align: center;
  color: $dark-blue;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 4.5em;
  font-weight: 200;
  margin-bottom: 0;
}

.page-author {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0.25rem;
}

// Page Content
// -----------------------------------------------------------------------------
.page-main-column {
  padding: 0 ($base-spacing * 2.5);
}

.page-content {
  @extend .container;
  margin-bottom: 8em;
}

.page-content {
  @extend .body-copy;
}

.page-content {
  // blockquote:first-of-type,
  h3:first-of-type {
    margin-top: 0px;
  }
}


.section-nav {
  background-color: $light-gray;
  border-left: solid 2px $action-color;
  font-size: 0.85em;
  margin-top: $small-spacing / 2;
  padding: ($small-spacing / 2);
  padding-left: $small-spacing;

  li {
    margin-bottom: ($small-spacing * 0.75);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.page-content h2 {
  text-transform: uppercase;
  font-weight: 300;
  color: $dark-blue;
}

.page-content .lowercase {
  text-transform: lowercase;
}


.page-content h3 {
  margin-top: $small-spacing;
  margin-bottom: $small-spacing * .25
}

// .page-content blockquote {
//   @include display(flex);
//   @include flex-direction(column);
//   @include justify-content(center);
// }

.page-content blockquote {
  background-color: tint($blue, 90%);
  border-radius: $base-border-radius * 2;
  margin-left: 0;
  margin-right: 0;
  padding: $small-spacing;
}

.page-content .attribution {
  font-size: 1em;
  text-align: right;
  width: 65%;
  margin-left: 30%;
  margin-right: 5%;
  margin-top: 0;
  min-width: 140px;
}

.page-content .attribution:before {
  content: "— ";
}

.page-content ul.features {
  list-style-type: circle;
  font-size: 1.3em;
  line-height: 1.4em;
  font-family: $heading-font-family;
  margin-bottom: $small-spacing;
  li {
    margin-bottom: 6px;
  }
  // padding-left: $base-spacing * 2;
  // padding-right: $base-spacing;
}

.page-content .pull-quote {
  margin-left: $small-spacing;
  background-color: inherit;
  border-radius: 0px;
  padding: 0;

  float: right;
  width: 37%;
  text-align: center;
  position: relative;
  font-family: $heading-font-family;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  margin-top: $small-spacing * .5;
  padding-top: $small-spacing * .25;
  h3 {
    margin-top: $small-spacing * .25;
    margin-bottom: $small-spacing * .25;
    color: $orange;
    line-height: 1.5em;
  }
  ul.features {
    color: $dark-gray;
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: $small-spacing * .5;
    }
  }
  .attribution {
    text-align: center;
    line-height: inherit;
    width: 100%;
    margin: ($small-spacing * .5) 0 ($small-spacing * .5);
  }
  .attribution:before {
    content: "";
  }
  .video {
    width: 90%;
    padding-bottom: 50.625%;
  	position: relative;
    margin: ($small-spacing * .5) auto 0;
    background-color: $medium-gray;
  }
  .video-closer {
    width: 8%;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: 1.5em;
    line-height: 1.8em;
    color: $dark-orange;
    opacity: 0;
  }
  .video > iframe {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .video > img {
  	position: absolute;
  	top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.download {
  float: right;
  margin: 0 $small-spacing;
  min-width: 37%;
  text-align: center;
}



.download::before {
  margin-right: $small-spacing * .25;
}

.award {
  font-style: italic;
  margin-left: $base-spacing;
}

.award:before {
  margin-left: -$base-spacing * .5;
  margin-right: $base-spacing * .25;
  color: #FFDD00;
  font-size: 2em;
  height: 0;
  vertical-align: text-top;
}

#skim-swim-dive {
  position: relative;
  #submarine {
    position: absolute;
    width: 30%;
    top: 1%;
    transition: top 4s ease;
    display: block;
    margin-left: 50%;
  }
}
#skim-swim-dive:hover {
  #submarine {
    top: 60%;
  }
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: $base-font-size * 1.1;
  font-family: $heading-font-family;
  color: $dark-orange;
  clear: both;
  padding-top: $small-spacing * .25;
  line-height: 1.5em;
  font-weight: 400;
}

figcaption ~ img {
  margin-top: $small-spacing * .5;
}

figcaption.float {
  clear: none;
}

.inline-figure,
.figure-gallery {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: $small-spacing * 1.5;
  overflow: auto;
}

.figure-gallery img {
  width: 30%;
  float: left;
  margin: 0 3% 0 0;
  padding: 0;
}

.figure-outline {
  img {
    border: 1px solid $dark-gray;
  }
}

.float-figure {
  width: 37%;
  float: right;
  margin-left: 3%;
  margin-bottom: $small-spacing;
  clear: both;
}
