// Variables
// -----------------------------------------------------------------------------
$page-width: 8.5in;
$page-height: 11in;

$bleed: 0;
// $bleed: 0.125in;

$bleed-height: (($bleed * 2) + $page-height);
$bleed-width: (($bleed * 2) + $page-width);

$bottom-margin: 1in;
$top-margin: 0.875in;
$inner-margin: 1in;
$outer-margin: 0.75in;

$inner-width: $page-width - ($inner-margin + $outer-margin);
$inner-height: $page-height - ($top-margin + $bottom-margin);

$print-base-font-size: 9.5pt;
$print-base-spacing: 0.125in;
$print-base-line-height: 1.3;
$print-paragraph-indent: 0.25in;

$print-background-color: #fff;
$print-text-color: #000;

$page-number-size: 9.5pt;
$footnote-size: 9.5pt;

$medium-gray: transparentize($print-text-color, 0.5);
$light-gray: transparentize($print-text-color, 0.5);

// Default page setup
// -----------------------------------------------------------------------------
// scss-lint:disable PropertySpelling
// @prince-pdf { prince-pdf-page-layout: two-column-right; }

@page {
  size: $page-width $page-height;
  margin-bottom: $bottom-margin;
  margin-left: $inner-margin;
  margin-right: $outer-margin;
  margin-top: $top-margin;

  @bottom-right {
    content: "www.getty.edu/foundation/osci-report \00A0 \00A0 | \00A0 \00A0 " counter(page);
    font-family: $heading-font-family;
    font-size: $page-number-size;
    font-weight: 400;
  }
}

@page bleed {
  margin: 0;
  @bottom-left { content: none; }
  @bottom-right { content: none; }
}

@page no-footer {
  @bottom-right { content: none; }
  @bottom-left { content: none; }
}

// scss-lint:enable PropertySpelling

// Print Styles
// -----------------------------------------------------------------------------
@media print {

  .nav-sidebar,
  .navbar,
  .search-results,
  .sliding-panel-fade-screen {
    display: none;
  }
  #js-nav {
    height: 0;
    display: none;
  }
  .cover {
    page: bleed;
    width: 8.5in;
    height: 11in;
    display: block;
  }
  .cover-title {
    margin-top: 2.25in;
  }
  .cover-title .diminutive {
    font-size: .33em;
  }
  .cover-copy {
    font-size: $print-base-font-size;
    width: 100%;
    margin-bottom: 0;
  }
  .cover-copy-inner {
    padding: 0;
  }
  .cover-colophon-inner {
    padding: 0 1.35em;

  }
  .colophon-text {
    padding-top: 1.35em;
    border-top: .5pt solid #c6a68e;
    margin-bottom: 1em;
    margin-left: 0;
  }
  .colophon-logo {
    float: none;
    margin-left: 0;
  }

  .page-content {
    font-size: $print-base-font-size;
  }
  figure {
    page-break-inside: avoid;
  }
  .grid-reset,
  .grid-cover .header-reset,
  .grid-nav,
  .grid-nav-images,
  .video-closer,
  .video,
  .animation {
    display: none;
  }
  .grid-content,
  .grid-content .grid--hidden {
    display: block;
    page-break-before: always;
    h4 {
      font-size: 2.5em;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .grid-toc {
    display: blocks;
    text-align: center;
    font-size: 1.5em;
    font-family: $heading-font-family;
    font-weight: 600;
    ul {
      padding: 0;
      list-style-type: none;
      li:before {
        content: "";
      }
    }
  }
  .print-fallback {
    display: block;
  }
  .inline-figure {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .cover-image {
    margin-bottom: 5in;
  }
  .popup {
    border-bottom: 0;
  }
  .ref-number {
    vertical-align: inherit;
  }
}
