body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: 400;
  letter-spacing: -0.5px;
}

h1, h3 {
  font-weight: 700;
}

h2 {
  margin-bottom: $small-spacing *.5;
  margin-top: $small-spacing * 1.75;
}

// Type scale
h1 { font-size: 1.75em; }
h2 { font-size: 1.65em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.15em; }

@include media($medium-screen-up) {
  h1 { font-size: 2.75em; }
  h2 { font-size: 2.5em; }
  h3 { font-size: 1.8em; }
  h4 { font-size: 1.4em; }
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
