// Typography
$base-font-family: "Merriweather", serif;
$heading-font-family: "Titillium Web", sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.4;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #222; // body text
$medium-gray: #999; // headers
$light-gray: #ddd; // backgrounds

$blue: #73C4C8; // cover gradient, sidebar, navbar
$dark-blue: #21afb6; // headers, links
$light-orange: #ffa454; // cover gradient
$orange: #e98125; // pull quotes
$dark-orange: #d76500; // captions
$beige: #a17f40;
$light-beige: #FAF4F0; // glossart and grid backgrounds



// Font Colors
$base-font-color: $dark-gray;
$action-color: $dark-blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $light-beige;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Transitions
$base-transition: all 0.2s ease-in-out;

// Animations
$base-duration: 150ms;
$base-timing: ease;
