// Typography
$base-font-family: "Freight Text Pro", "Minion Pro", serif;
$heading-font-family: "Overpass";

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.35;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$light-blue: #bed7e2;
$blue: #4b89a5;
$dark-blue: #1e5c77;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Transitions
$base-transition: all 0.2s ease-in-out;

// Animations
$base-duration: 150ms;
$base-timing: ease;
