---
title: Introduction
author: Deborah Marrow, Director, Getty Foundation
sort_order: 1
layout: page
cover: tate_pissarro.png
---

The Getty Foundation’s Online Scholarly Catalogue Initiative (OSCI) launched in 2009 with the goals of rethinking the museum scholarly collection catalogue for the digital age and helping museums work together to transition to online publishing. Scholarly collection catalogues belong to a well-established genre with a distinguished pedigree, and they have been widely admired for generations for their attention to detail and high-quality production. They are also one of the most important ways that museums share research findings about the works of art in their collections.

But what is the future of this venerated tradition? Most museums can only afford to print small numbers of catalogues, which limits readership. And catalogues become outdated as soon as a museum acquires a new artwork or makes a new discovery about an existing work in its collection. The space of the page and the size of the volume constrain the amount of information that can be presented, including the number and size of images.

The arrival of the digital age seemed to offer tantalizing alternatives. With online catalogues, museums could easily update content, adding new research without waiting years for the next print edition. Global audiences could engage with the latest scholarship unfolding thousands of miles away. Readers could zoom in on high-resolution images of artworks and study them in dialogue with conservation documentation. Video and audio clips could bring the voice of the curator, conservator, or artist into the space of the catalogue. Researchers could take notes in the margins and store them for later use or post comments for discussion with other scholars.

To meet this vision, the Getty Foundation invited [eight museums](#) to work together as they developed online scholarly catalogues for their respective institutions. The digital world was very different when the Online Scholarly Catalogue Initiative—or OSCI as it came to be known—began in 2009. In fact, tablet computers were a new development and the iPad had not yet been released. Throughout the six-year initiative, project teams came together to collaboratively solve problems both conceptual and technological, from addressing the expectations of scholars for trustworthy information to the need for <span class="popup popup-definition" data-definition='<%= define_term("responsive-design") %>'>*responsive design*</span> to make a publication look its best on multiple viewing devices. In this way, they hoped to produce strong models for the field.

Today, these pioneering museums have realized the promising potential of digital publishing. Each has completed its own OSCI catalogue, distinctive in character and suited to the needs of its own institution. [You can access them all through this report](projects-at-a-glance.html). The OSCI museums took a leap of faith together and learned that much can be accomplished when institutions don’t go it alone. They also learned that online publishing was not business as usual but required rethinking long-held assumptions about research, writing, and publishing. Their creativity has already been rewarded by a number of [honors and awards](#) in recognition of their efforts.

While the impact of OSCI on art history and museum practice is just beginning to be measured, the initial results are encouraging. OSCI catalogues are helping to revive the close study of the object, which has the long-term potential to transform art historical research and scholarship.

At the same time, these publications are reaching larger and more diverse audiences than comparable print catalogues, and are being used for research and teaching. And all eight partners have [committed to new online publications](whats-next.html), with several already completed.

OSCI has also been transformational for the Getty Foundation, offering profound insights about research, museums, and digital publishing. One critical moment occurred early on in the planning stages when we realized—along with our grantees—that online collection catalogues aren’t just for scholars. Digital publishing is a medium that can serve multiple audiences simultaneously, from art history novices to experts.

With this report, we share the results of the OSCI initiative: the projects themselves, the lessons learned, the three models developed by the participating museums, the remaining challenges for digital publishing, and the plans for what lies ahead. Without the collaboration and dedication of numerous professionals—museum leadership, curators, technologists, designers, publishers, and registrars—online collection catalogues would have remained just an intriguing idea. Thanks to the OSCI museums, this vision is now a reality. Scholars can consult important new research with the click of a mouse, art aficionados can experience familiar objects in novel ways, and the museum field can draw on a set of viable digital publishing models to expand online access to their collections.
