---
title: Remaining Challenges
sort_order: 6
layout: page
sections: true
cover: tate_sickert.png
---
## Finding the catalogue
{:.section-heading}

Museums have established processes for distributing and marketing their print catalogues. Online publishing, though, completely disrupts these processes. How will potential audiences know that the online catalogues even exist?

If a catalogue is placed “deep” within a museum’s website, nested within subcategories of content, it might escape being found by the casual web browser. However, most readers in the digital age find content through search engines, such as Google. It is critically important, then, that museums take the right steps so that their catalogues appear near the top of the list in searches. This process is referred to as <span class="popup popup-definition" data-definition='<%= define_term("seo") %>'>*search engine optimization (SEO)*</span>, and can be an important part of launching the publication. In the case of SFMOMA, their evaluators reported that at least 48% of readers found it through a search engine; for the Walker, this figure was 41%.

To prepare the catalogue for optimal <span class="popup popup-definition" data-definition='<%= define_term("discoverability") %>'>*discoverability*</span>, the OSCI cohort adopted specific strategies, such as carefully selecting keywords and <span class="popup popup-definition" data-definition='<%= define_term("metatags") %>'>*metatags*</span>, so that the catalogue is more likely to appear as a result of a search. Institutions need to decide how in-depth this description should be—at the publication level or drilling down deeper to describe each object or page. In addition, they must anticipate the range of search terms that might be used. Museums must also determine which department is responsible for this work, for example, publications or the web group.

The OSCI participants are still exploring other ways to build new marketing pipelines suited for the digital age. Social media and email, for example, have proven successful. In the case of SFMOMA’s catalogue, 30% of the participants in a survey undertaken by evaluator Frankly, Green + Webb learned about of the publication from an email campaign. And more than 1 in 5 had heard about it from a colleague. The statistics are similar for the Walker’s OSCI volumes; their usability study, also completed by Frankly, Green + Webb, showed that nearly a quarter of the survey participants knew about the publication through an email campaign, while roughly 1 in 6 heard about it from peers via word-of-mouth.

Seattle Art Museum borrowed a strategy familiar to print catalogues: put the publication in the gallery. During its recent *Calligraphic Abstraction* exhibition, the museum made their OSCI catalogue available to visitors on tablet computers place in the galleries. Not surprisingly, their Web analytics showed a corresponding increase in site traffic.

The OSCI catalogues are still not all easily “findable” if a reader comes to their homepage. On their websites, many of the catalogues are found under the Research or Collections tabs, but there is no standard placement. These tabs are not always intuitive for potential readers. In a recent revamp of its website design, the Seattle Art Museum included links to the OSCI catalogue on top level pages, including the homepage. Organizations are also enhancing the visibility of OSCI content on existing collections pages by adding links to catalogue entries and interpretive resources when they are available.

Over time, the OSCI institutions also recognized the value of entering their catalogues into library databases and assigning ISBN (International Standard Book Number) numbers to the catalogue, although this is still work in progress. All of the OSCI catalogues are now listed in WorldCat. The Art Institute completes additional outreach to other librarians and ARLIS, the Art Libraries Society of North America, when preparing to release a new digital volume.

## Reader confusion about catalogue boundaries
{:.section-heading}

Those OSCI catalogues designed in ways similar to the institution’s online collection pages can produce confusion for readers, as was learned by the evaluation of the SFMOMA catalogue. Readers reported that they sometimes had difficulty recognizing when they were “inside” the catalogue as opposed to other collection pages. They value the academic rigor of the catalogue and want to be sure they are working directly with its carefully vetted content. This experience also points to the need for a dedicated <span class="popup popup-definition" data-definition='<%= define_term("dedicated-search") %>'>*dedicated search function*</span> that would allow users to stay within the perimeters of the catalogue if desired. The National Gallery of Art, for example, designed a search box that is restricted to the catalogue contents so users could be sure that they did not leave the catalogue for other portions of the institution’s website when searching.

## Preserving online catalogues for the public
{:.section-heading}

The printed catalogue has a natural preservation plan: storage in libraries. The field has not yet arrived at a commonly agreed upon solution for preserving online publications. The PDF, the portable document format, is a highly stable format, but the interactive and dynamic features of the catalogue, such as video or audio, are not preserved. Long-term digital repositories are now available, such as the Internet Archive or the California Digital Library, but museums are not always familiar with these institutions and their protocols.

When should the online catalogue be preserved? The answer may be obvious for catalogues produced as editions issued on a specific date, but what about those catalogues that are constantly updated? Do they require a regular schedule for capturing the changing versions? And again, who is responsible for undertaking this work?

## Sustaining digital publishing
{:.section-heading}

While the OSCI cohort recognized early on the need to develop a long-term maintenance plan for their online catalogues, and have already begun to develop solutions, challenges still remain. For example, how will OSCI catalogues be integrated into technical infrastructure updates?

SFMOMA completed a complete redesign of its website in anticipation of its public reopening in May 2016. The project necessitated the migration of all of the catalogue data, as well as updating over 650 web pages to align the existing content with a new design schema. Staff found that some of the biggest challenges in this process—such as skills retention in the face of staff turnover—are not inherent to digital projects; they are persistent problems across the field. The Walker faces a similar challenge as the museum prepares for a comprehensive website redesign that includes new information architecture.

Institutions still anticipate growing pains as they shift from regarding online publications as one-off projects to ongoing publishing platforms. Museums with established programs for the publication of the permanent collection catalogues may have an easier transition. With a commitment to online publication, these museums can transfer funds from budgets for print publications to cover the costs of new online catalogues. It will be more difficult in museums where the publications departments do not have a tradition of collection catalogues, or where publications are solely dependent on external funds. If museums can change their approach from “project to program,” though, and integrate online catalogues into the work of the museum, these catalogues will be produced more easily, quickly, and economically.
