---
title: Three Models of Online Catalogues
sort_order: 4
layout: page
sections: true
cover: freersackler_1.png
---
Three basic models of catalogue emerged from the initiative. All three share a tripartite process: start with raw collections data; transform that data into authored, publishable material; and then design a public presentation of that data as a Web interface. It is critically important that core data remains separate from its transformation and presentation as it allows the institution to change how that data might be publicly presented in the future without having to re-enter it. That same data can also be repurposed for other uses, such as in-gallery interpretations or museum tours using handheld devices.

The bottom layer of these tripartite structures is composed of the databases, systems, and documents containing information about the collection and its artworks. The middle layer—the OSCI Toolkit, eMuseum, or Web content management system—transforms this data, arranging it into desired relationships. This content is then published to the website, which represents the top layer, in predesigned formats and layouts.

> Illustration: Diagram of tripartite structure

## The OSCI Toolkit Model
{:.section-heading}

>“*We chose this model so we could have adaptable and user-friendly layouts, which allows us to accommodate the specific content needs of individual catalogues. For the design of the platform we decided to produce a more book-like appearance with citability that would give stability and authority to our publications within the ever-changing digital environment*.”
>
>Sarah Guernsey, Executive Director of Publishing, Art Institute of Chicago
>{:.attribution}

The OSCI Toolkit originated with the Art Institute of Chicago’s online catalogue. The Art Institute conceived and managed the development of what they called the ChicagoCodeX (CCX), which served as the basis of the Toolkit. The coding and technical implementation was researched and executed by the IMA Lab (the media and technology wing at the Indianapolis Museum of Art), and the software is open source.

The OSCI Toolkit enables museums to build a <span class="popup popup-definition" data-definition='<%= define_term("microsite") %>'>*microsite*</span> with a more “book-like” experience that is still flexible and customizable. The goal of this digital publishing solution is “write once, deploy everywhere.” The Toolkit is based on the widely used Drupal <span class="popup popup-definition" data-definition='<%= define_term("cms") %>'>*content management system*</span>, and uses a series of <span class="popup popup-definition" data-definition='<%= define_term("api") %>'>*application programming interfaces (APIs)*</span> to access the data held in various repositories and to communicate between the Drupal content and the Web presentation. These APIs support navigation, content, notes, search, figures, footnotes, and citations in both MLA and Chicago publication styles.

To make the process of customizing the Toolkit easier for museums, the IMA Lab is working on five standardized “themes,” or presentations, which can be used as templates. Museum staff can then customize these for their own needs. Additionally, to better support the existing publication workflows of institutions, the Toolkit has support for pasting documents from Word, and in the future will include models of importing content from <span class="popup popup-definition" data-definition='<%= define_term("dams") %>'>*DAMS*</span>. The types of illustrations that are supported are not restricted; they can be embedded videos, sound, or zoomable images.

### Advantages

- The OSCI Toolkit is extremely flexible: the appearance of the catalogue is highly customizable.
- Information can be updated on a regular basis if desired.
- The tools are available free on the Web.
- The Toolkit works with different information delivery systems and devices.
- The Toolkit is based in Drupal, and there is a good hiring pool of programmers with Drupal expertise.
- The OSCI Toolkit can be a good choice for museums that have less robust websites, as the entire package can be built outside the museum and then exported to the website.

>   screen shots of Art Institute, Freer/Sackler, and LACMA

### Disadvantages

- It is not as simple as using the TMS/eMuseum systems that are already in use in many museums, and requires Drupal expertise, either on contract or on staff.
- A seasoned Web developer or the money to hire one is vital
- The backend and other systems require at least some level of ongoing updates to maintain.

More information on current developments of the OSCI Toolkit and links to the source code are available at [http://oscitoolkit.org](http://oscitoolkit.org).

## The Web Content Management Model
{:.section-heading}

>"*SFMOMA chose to integrate the Rauschenberg Research Project into the Collections area of the museum's website in order to maximize its accessibility and findability for both the target scholarly audience and the general website visitor. The integration maximizes search engine optimization (SEO) \[rollover definition\] and increases visibility of the museum’s function as a research institution. This model also ensures that this publication will be maintained along with all core collection information in future website redesigns*."
>
>Sarah Roberts, Andrew W. Mellon Associate Curator of Painting and Sculpture, SFMOMA
>{:.attribution}

SFMOMA, NGA, Tate, and the Walker Art Center created their catalogues using a content management system (CMS) that integrated the catalogue into the museum’s existing website. This approach uses and enhances the systems that museums have already developed to present their collections online. Generally, one group of technical staff can provide maintenance for both the website and the catalogue. Depending on the configuration, these systems can be configured to be published just to a desktop or, with responsive design, can be published out to other devices as well. They are Web publications, and typically support a scrolling (rather than page-turning) experience. And like other websites, they can contain zoomable images, audio and video clips, and PDFs that can be downloaded and printed.

### Advantages

-  The catalogue is assembled into Web pages and is commingled with the website, with one technology maintenance group.
-  The format is familiar to users, who are already accustomed to accessing collection pages on the website.
-  These catalogues are easier to discover through online searching
-  These catalogues closely integrate the catalogue with the museum’s existing Web content, which may be an advantage for creating a shared “look and feel” for the museum’s site.

### Disadvantages

- Users, particularly academic users, don't always understand when they are “inside” the catalogue and when they are not; search results may not always make this clear and the navigation for the catalogue and other online collection pages can be the same.
- The workload of the Web group or technicians, who will need to maintain the catalogue in addition to other Web content, may significantly increase. Additional staff may be required.

> Screen Shots SFMOMA, NG, Tate, Walker

## The Museum System/eMuseum Model
{:.section-heading}

>“*We wanted to pull the information from the TMS database, and this model allowed us to do that. We didn’t want the staff to have to learn a new system; we wanted to use tools that we already had. Our solution also helps other museums that use TMS in the future, especially midsized museums with lean technology staff. We’re proud that we have created a model within a system used by many museums. This benefits the field enormously*.”
>
>Mimi Gardner Gates, Director Emerita, SAM
>{:.attribution}

The Museum System (TMS) is a commonly used collections management system, and eMuseum is the affiliated software that publishes information from TMS to the Web. Both are products of Gallery Systems. Through the OSCI initiative, eMuseum has been enhanced to allow the addition of in-depth scholarly content to individual object records. The model developed by SAM in conjunction with Gallery Systems uses templates created by TMS and eMuseum for the institution; Gallery Systems can create other templates as well. eMuseum, the publishing program, pulls information directly from TMS and migrates the data into existing templates. eMuseum has the capacity to translate information from TMS to any Web content management system.

SAM has chosen to have its online catalogue information updated directly and regularly, creating an open-ended and constantly evolving online catalogue, which represents a significant departure from the standard printed version. It is flexible and will continue to change as the museum’s collection of Chinese painting and calligraphy expands.

### Advantages

- It is a one-vendor system, already used successfully by
  many museums.
- There are no new systems for staff to learn, which makes it simpler than the other models and, therefore, may be a good solution for museums without robust technology or Web departments.
- There is a basic core of functionality that can be customized; SAM reports that updates are easy.
- Data feeds directly from TMS to the catalogue and content can be continuously updated, although this is not an advantage for museums that wish to present online catalogues as a specifically dated publication.

### Disadvantages

- It is a one-vendor system, which could also be seen as a disadvantage.
- The online presentation is not as flexible. \[AS WHAT?\]
- The other two models have a much wider range of features available.
- While TMS and eMuseum usage is common among museums, they don’t have as wide of a developer base as Drupal (used in the OSCI Toolkit), or other content management systems.

> Screen shot Seattle
