---
title: Three Approaches to Online Catalogues
sort_order: 4
layout: page
---
Three basic approaches emerged from the initiative:

1. [The OSCI Toolkit](#the-osci-toolkit)
2. [Web Content Management](#web-content-management)
3. [Museum System/eMuseum](#emuseum)
{:.link-list}

While there are now other solutions in development, these three approaches best characterize the choices made by the OSCI partners. All three share a tripartite process: start with raw collections data; transform that data into authored, publishable material; and then design a public presentation of that data as a Web interface. It is critically important that core data remains separate from its transformation and presentation, as it allows the institution to change how that data might be publicly presented in the future without having to re-enter it. That same data can also be repurposed for other uses, such as in-gallery interpretations or museum tours using handheld devices.

The first layer of these tripartite structures is composed of the databases, systems, and documents containing information about the collection and its artworks. The middle layer—the OSCI Toolkit, eMuseum, or Web content management system—transforms this data, arranging it into the desired relationships. This content is then published to the website, which forms the presentation layer, in predesigned formats and layouts.

<figure class="inline-figure" markdown="0">
  <img src="/assets/images/animation_digitalpipeline.gif" alt="tripartite structure" class="animation"/>
  <img src="/assets/images/animation_digitalpipeline_fallback.png" alt="" class="print-fallback"/>
  <figcaption>All the OSCI catalogues share a tripartite process: start with raw collections data in <strong>databases <span class="ref-number">1</span></strong>; transform that data into authored, publishable material with a <strong>content management system <span class="ref-number">2</span></strong>; and then design a public presentation of that data as a <strong>Web interface <span class="ref-number">3</span></strong>.</figcaption>
</figure>

## The OSCI Toolkit
{: id="the-osci-toolkit"}

>*“We chose this model so we could have adaptable and user-friendly layouts that allow us to accommodate the specific content needs of individual catalogues. For the design of the platform we decided to produce a more book-like appearance with citability that would give stability and authority to our publications within the ever-changing digital environment.”*
>
>Sarah Guernsey, Executive Director of Publishing, Art Institute of Chicago
>{:.attribution}

The OSCI Toolkit originated with the Art Institute of Chicago’s online catalogue. The Art Institute conceived and managed the development of what they called the ChicagoCodeX (CCX), which served as the basis of the Toolkit. The coding and technical implementation was researched and executed by the IMA Lab (a web design and development consultancy located at the Indianapolis Museum of Art), and the software is open source.

The OSCI Toolkit enables museums to build a <span class="popup popup-definition" data-definition='<%= define_term("microsite") %>'>*microsite*</span> with a more “book-like” experience that is still flexible and customizable. The goal of this digital publishing solution is “write once, deploy everywhere.” The Toolkit uses a series of <span class="popup popup-definition" data-definition='<%= define_term("api") %>'>*application programming interfaces (APIs)*</span> to access the data held in various repositories and to communicate between the content management system and the Web presentation. These APIs support navigation, content, notes, search, figures, footnotes, and citations in both MLA and Chicago publication styles.  The types of illustrations that are supported are not restricted; they can be embedded videos, sound, or zoomable images. Additionally, to better support the existing publication workflows of institutions, the Toolkit has support for pasting documents from Word, and in the future will include models of importing content from <span class="popup popup-definition" data-definition='<%= define_term("dams") %>'>*DAMS*</span>.

With funding from the Getty Foundation, the IMA Lab has completed enhancements to the OSCI Toolkit that make the software easier to install and more user-friendly, including a set of five standardized “themes,” or presentation templates, that can be customized for a museum’s needs. Technology used in the current version of the OSCI Toolkit was appropriate to implementation when it was first developed in 2012. However, recognizing the quick pace at which technology changes, and based on feedback from users at workshops and presentations, IMA Lab is considering whether a more significant overhaul of the OSCI Toolkit is warranted. Updates and innovations will be posted to the OSCI Toolkit website, [www.oscitoolkit.org](http://www.oscitoolkit.org){:target="_blank"}.

<div class="figure-gallery" markdown="0">
  <figure>
    <a href="http://www.artic.edu/collections/books/online-scholarly-catalogues" target="_blank"><img src="/assets/images/projects/aic_th_square.jpg" alt="AIC" /></a>
  </figure>
  <figure>
    <a href="http://pulverer.si.edu/" target="_blank"><img src="/assets/images/projects/freersackler_th_square.jpg" alt="Freer Sackler" /></a>
  </figure>
  <figure>
    <a href="http://seasian.catalog.lacma.org/" target="_blank"><img src="/assets/images/projects/lacma_th_square.jpg" alt="LACMA" /></a>
  </figure>
  <figcaption>
    <a href="http://www.artic.edu/collections/books/online-scholarly-catalogues" target="_blank">The Art Institue of Chicago</a>, the <a href="http://pulverer.si.edu/" target="_blank">Freer|Sackler</a>, and <a href="http://seasian.catalog.lacma.org/" target="_blank">LACMA</a> used the OSCI Toolkit in producing their catalogues.
  </figcaption>
</div>

#### OSCI Toolkit Advantages

- The OSCI Toolkit is extremely flexible: the appearance of the catalogue is highly customizable.
- Information can be updated on a regular basis if desired.
- The Toolkit is available for free on the Web.
- The Toolkit works with different information delivery systems and devices.
- The OSCI Toolkit can be a good choice for museums that have less robust websites, as the entire package can be built outside the museum and then exported to the website.

#### OSCI Toolkit Disadvantages

- It is not as simple as using the TMS/eMuseum systems that are already in use in many museums.
- A seasoned Web developer or the money to hire one is vital.
- While TMS and eMuseum usage is common among museums, the developer base for the Toolkit (which runs on Drupal) is now not as large as other content management systems.

## Web Content Management
{: id="web-content-management"}

>*"SFMOMA chose to integrate the* Rauschenberg Research Project *into the Collections area of the museum’s website in order to maximize its accessibility and findability for both the target scholarly audience and the general website visitor. The integration maximizes search engine optimization (<span class="popup popup-definition" data-definition='<%= define_term("seo") %>'><em>SEO</em></span>) and increases visibility of the museum’s function as a research institution. This model also ensures that this publication will be maintained along with all core collection information in future website redesigns."*
>
>Sarah Roberts, Andrew W. Mellon Associate Curator of Painting and Sculpture, SFMOMA
>{:.attribution}

SFMOMA, NGA, Tate, and the Walker Art Center created their catalogues using a content management system (CMS) that integrated the catalogue into each museum’s existing website. This approach uses and enhances the systems that museums have already developed to present their collections online. Generally, one group of technical staff can provide maintenance for both the website and the catalogue. Depending on the configuration, these systems can publish just to a desktop or, with responsive design, can be published out to other devices as well. They are Web publications and typically support a scrolling (rather than page-turning) experience. And like other websites, they can contain zoomable images, audio and video clips, and PDFs that can be downloaded and printed.

<div class="figure-gallery" markdown="0">
  <div class="two-by-two">
    <figure>
      <a href="https://www.sfmoma.org/rauschenberg-research-project/" target="_blank"><img src="/assets/images/projects/sfmoma_th_square.jpg" alt="SFMOMA" /></a>
    </figure>
    <figure>
      <a href="http://www.nga.gov/content/ngaweb/research/online-editions.html" target="_blank"><img src="/assets/images/projects/nga_th_square.jpg" alt="NGA" /></a>
    </figure>
    <figure>
      <a href="http://www.tate.org.uk/art/research-publications/camden-town-group" target="_blank"><img src="/assets/images/projects/tate_th_square.jpg" alt="Tate" /></a>
    </figure>
    <figure>
      <a href="http://www.walkerart.org/collections/publications" target="_blank"><img src="/assets/images/projects/walker_th_square.jpg" alt="Walker" /></a>
    </figure>
  </div>
  <figcaption class="float">
    <a href="https://www.sfmoma.org/rauschenberg-research-project/" target="_blank">SFMOMA</a>, the <a href="http://www.nga.gov/content/ngaweb/research/online-editions.html" target="_blank">National Gallery of Art</a>, <a href="http://www.tate.org.uk/art/research-publications/camden-town-group" target="_blank">Tate</a>, and <a href="http://www.walkerart.org/collections/publications" target="_blank">Walker Art Center</a> all used their existing web content management systems to create and present their online catalogues.
  </figcaption>
</div>

#### Web Content Management Advantages

-  The catalogue is assembled into Web pages and is commingled with the website, with one technology maintenance group.
-  The format is familiar to users who are already accustomed to accessing collection pages on the website.
-  These catalogues are easier to discover through online searching.
-  These catalogues closely integrate the catalogue with the museum’s existing Web content, which may be an advantage for creating a shared “look and feel” for the museum’s site.

#### Web Content Management Disadvantages

- Users, particularly academic users, don’t always understand when they are “inside” the catalogue and when they are not; search results may not always make this clear, and the navigation for the catalogue and other online collection pages can be the same.
- The workload of the Web group or technicians, who will need to maintain the catalogue in addition to other Web content, may increase significantly; additional staff may be required.

## Museum System/&shy;<span class="lowercase">e</span>Museum
{: id="emuseum"}

>*“We wanted to pull the information from the TMS database, and this model allowed us to do that. We didn’t want the staff to have to learn a new system; we wanted to use tools that we already had. Our solution also helps other museums that use TMS in the future, especially midsized museums with lean technology staff.”*
>
>Mimi Gardner Gates, Director Emerita, SAM
>{:.attribution}

The Museum System (TMS) is a commonly used collections management system, and eMuseum is the affiliated software that publishes information from TMS to the Web. Both are products of software vendor Gallery Systems. Through the OSCI initiative, eMuseum has been enhanced to allow the addition of in-depth scholarly content to individual object records. The model developed by SAM in conjunction with Gallery Systems uses templates created by TMS and eMuseum for the institution; Gallery Systems can create other templates as well. eMuseum, the publishing program, pulls information directly from TMS and migrates the data into existing templates. eMuseum has the capacity to translate information from TMS to any Web content management system.

SAM has chosen to have its online catalogue information updated directly and regularly, creating an open-ended and constantly evolving online catalogue, which represents a significant departure from the standard printed version. It is flexible and will continue to change as the museum’s collection of Chinese painting and calligraphy expands.

For museums interested in exploring the use of TMS and eMuseum, software vendor Gallery Systems ([www.gallerysystems.com](http://www.gallerysystems.com)) has had significant experience with the requirements for publishing museum catalogues online since OSCI began. A range of eMuseum sites are accessible through their website.

<div class="figure-gallery" markdown="0">
  <figure>
    <a href="http://chinesepainting.seattleartmuseum.org/OSCI/" target="_blank"><img src="/assets/images/projects/seattle_th_square.jpg" alt="Seattle" /></a>
  </figure>
  <figcaption class="float">
    Unique among all OSCI participants, the <a href="http://chinesepainting.seattleartmuseum.org/OSCI/" target="_blank">Seattle Art Museum</a> built their online catalogue in the same ecosystem as their existing collections database, the popular The Museum System (TMS).
  </figcaption>
</div>

#### Museum System/<span class="lowercase">e</span>Museum Advantages

- It is a one-vendor system, already used successfully by
  many museums.
- There are no new systems for staff to learn, which makes it simpler than the other models and, therefore, may be a good solution for museums without robust technology or Web departments.
- There is a basic core of functionality that can be customized; SAM reports that updates are easy.
- Data feeds directly from TMS to the catalogue and content can be continuously updated, although this is not an advantage for museums that wish to present online catalogues as a specifically dated publication.

#### Museum System/<span class="lowercase">e</span>Museum Disadvantages

- It is a one-vendor system, which could also be seen as a disadvantage.
- The online presentation is not as flexible as the other two OSCI approaches.
- The developer base is not as wide as other content management systems.
